header {
	padding: 5px;
}

body, html {
	margin: 0px;
}

.settings {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 450px) {
	.settings {
		display: block;
	}
	.setting input, .setting select {
		width: 100%;
	}
}

.setting {
	padding: 5px;
	display: inline;
}

.resource {
	display: none;
}

.canvas-container {
	text-align: center;
}

#language-settings {
	position: absolute;
	top: 5px;
	right: 5px;
}

header {
	background-color: #F0F0F0;
}
